.curso-detalle-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.curso-detalle {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.curso-detalle h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.curso-detalle p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.detalle-curso {
  margin-top: 20px;
}

.detalle-curso h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.detalle-curso div {
  font-size: 1rem;
  line-height: 1.6;
}
