.exam-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.exam-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.especialidad-container {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.especialidad-container h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.question-container {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.question-container p {
  margin-bottom: 10px;
}

.question-container label {
  display: block;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0056b3;
}
